In [83]:
import pandas as pd

In [84]:
df = pd.read_csv('/content/medical_cost_prediction_dataset.csv')

In [85]:
df.head(5)

,age,gender,bmi,smoker,diabetes,hypertension,heart_disease,asthma,physical_activity_level,daily_steps,sleep_hours,stress_level,doctor_visits_per_year,hospital_admissions,medication_count,insurance_type,insurance_coverage_pct,city_type,previous_year_cost,annual_medical_cost
0,69,Male,29.4,No,1,0,0,0,Medium,14825,4.4,8,1,0,4,Private,80,Semi-Urban,10885,2645.50
1,32,Female,22.9,No,1,0,0,0,Medium,3620,6.0,7,4,3,0,Government,64,Semi-Urban,18722,10959.70
2,89,Male,25.7,No,0,0,0,0,High,10578,4.5,7,2,0,3,NaN,0,Urban,4196,8409.80
3,78,Male,31.9,Yes,0,1,0,0,Low,6226,8.6,9,6,1,7,Government,70,Urban,11128,7996.62
4,38,Male,27.7,No,0,0,0,0,High,6253,5.7,3,6,0,6,Private,77,Urban,15110,3202.52

In [86]:
df.isnull().sum()

age                           0
gender                        0
bmi                           0
smoker                        0
diabetes                      0
hypertension                  0
heart_disease                 0
asthma                        0
physical_activity_level       0
daily_steps                   0
sleep_hours                   0
stress_level                  0
doctor_visits_per_year        0
hospital_admissions           0
medication_count              0
insurance_type             1048
insurance_coverage_pct        0
city_type                     0
previous_year_cost            0
annual_medical_cost           0
dtype: int64

In [87]:
df['insurance_type'].value_counts()

insurance_type
Private       1979
Government    1973
Name: count, dtype: int64

In [88]:
df['insurance_type'] = df['insurance_type'].fillna('No_insurance')

In [89]:
df['insurance_type'].value_counts()

insurance_type
Private         1979
Government      1973
No_insurance    1048
Name: count, dtype: int64

In [90]:
df_numeric = df.select_dtypes(include=['number'])
df_catagorical = df.select_dtypes(exclude=['number'])

In [91]:
df_numeric.corr()

,age,bmi,diabetes,hypertension,heart_disease,asthma,daily_steps,sleep_hours,stress_level,doctor_visits_per_year,hospital_admissions,medication_count,insurance_coverage_pct,previous_year_cost,annual_medical_cost
age,1.000000,-0.006208,0.010119,0.000437,0.004866,-0.012543,0.000401,-0.009352,-0.024489,-0.013327,0.003540,0.003989,0.003860,0.001083,0.025330
bmi,-0.006208,1.000000,0.008012,-0.008873,0.010854,-0.004920,0.005044,0.007946,0.019086,-0.024716,0.015682,-0.011437,-0.013424,0.016999,0.031030
diabetes,0.010119,0.008012,1.000000,-0.017362,-0.012147,-0.006789,0.014369,-0.015918,0.037091,-0.012451,0.007036,0.013047,0.016322,-0.008866,0.051429
hypertension,0.000437,-0.008873,-0.017362,1.000000,0.006616,-0.032647,-0.001017,0.009419,-0.023607,-0.008801,-0.001553,-0.004038,-0.002267,-0.009084,0.046926
heart_disease,0.004866,0.010854,-0.012147,0.006616,1.000000,-0.014630,0.014681,-0.002408,-0.011288,-0.013318,0.000754,-0.005470,-0.024764,-0.015565,0.121740
asthma,-0.012543,-0.004920,-0.006789,-0.032647,-0.014630,1.000000,0.013272,0.003905,-0.009875,-0.002612,-0.003104,-0.001282,0.016235,-0.011861,0.008869
daily_steps,0.000401,0.005044,0.014369,-0.001017,0.014681,0.013272,1.000000,0.010206,0.010099,-0.014183,-0.016815,-0.022136,-0.003148,-0.000957,0.001819
sleep_hours,-0.009352,0.007946,-0.015918,0.009419,-0.002408,0.003905,0.010206,1.000000,0.018683,0.012188,-0.025556,0.000815,-0.006428,0.019207,-0.004788
stress_level,-0.024489,0.019086,0.037091,-0.023607,-0.011288,-0.009875,0.010099,0.018683,1.000000,0.010225,-0.006105,-0.011701,0.010774,-0.013098,0.012596
doctor_visits_per_year,-0.013327,-0.024716,-0.012451,-0.008801,-0.013318,-0.002612,-0.014183,0.012188,0.010225,1.000000,-0.014961,-0.012405,0.002070,-0.011704,0.033748
hospital_admissions,0.003540,0.015682,0.007036,-0.001553,0.000754,-0.003104,-0.016815,-0.025556,-0.006105,-0.014961,1.000000,0.025095,-0.003211,0.013284,0.355629
medication_count,0.003989,-0.011437,0.013047,-0.004038,-0.005470,-0.001282,-0.022136,0.000815,-0.011701,-0.012405,0.025095,1.000000,-0.014845,0.008925,0.133298
insurance_coverage_pct,0.003860,-0.013424,0.016322,-0.002267,-0.024764,0.016235,-0.003148,-0.006428,0.010774,0.002070,-0.003211,-0.014845,1.000000,0.006946,-0.856152
previous_year_cost,0.001083,0.016999,-0.008866,-0.009084,-0.015565,-0.011861,-0.000957,0.019207,-0.013098,-0.011704,0.013284,0.008925,0.006946,1.000000,0.089275
annual_medical_cost,0.025330,0.031030,0.051429,0.046926,0.121740,0.008869,0.001819,-0.004788,0.012596,0.033748,0.355629,0.133298,-0.856152,0.089275,1.000000

In [92]:
df_numeric.corr()['annual_medical_cost'].sort_values(ascending=False)

annual_medical_cost       1.000000
hospital_admissions       0.355629
medication_count          0.133298
heart_disease             0.121740
previous_year_cost        0.089275
diabetes                  0.051429
hypertension              0.046926
doctor_visits_per_year    0.033748
bmi                       0.031030
age                       0.025330
stress_level              0.012596
asthma                    0.008869
daily_steps               0.001819
sleep_hours              -0.004788
insurance_coverage_pct   -0.856152
Name: annual_medical_cost, dtype: float64

In [93]:
categorical_cols = [
    'gender',
    'smoker',
    'diabetes',
    'hypertension',
    'heart_disease',
    'asthma',
    'physical_activity_level',
    'insurance_type',
    'city_type'
]

In [94]:
for col in categorical_cols:
    print(f"\nValue counts for {col}:")
    print(df[col].value_counts())

Value counts for gender:
gender
Female    2519
Male      2481
Name: count, dtype: int64

Value counts for smoker:
smoker
No     3779
Yes    1221
Name: count, dtype: int64

Value counts for diabetes:
diabetes
0    3962
1    1038
Name: count, dtype: int64

Value counts for hypertension:
hypertension
0    3560
1    1440
Name: count, dtype: int64

Value counts for heart_disease:
heart_disease
0    4289
1     711
Name: count, dtype: int64

Value counts for asthma:
asthma
0    4518
1     482
Name: count, dtype: int64

Value counts for physical_activity_level:
physical_activity_level
Low       1996
Medium    1986
High      1018
Name: count, dtype: int64

Value counts for insurance_type:
insurance_type
Private         1979
Government      1973
No_insurance    1048
Name: count, dtype: int64

Value counts for city_type:
city_type
Urban         2474
Semi-Urban    1503
Rural         1023
Name: count, dtype: int64

In [95]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df['gender'] = le.fit_transform(df['gender'])
# df['smoker'] = le.fit_transform(df['smoker'])
df['gender'] = df['gender'].map({'Male': 1, 'Female': 0})
df['smoker'] = df['smoker'].map({'Yes': 1, 'No': 0})

In [96]:
activity_map = {'Low': 2, 'Medium': 1, 'High': 0}
df['physical_activity_level'] = df['physical_activity_level'].map(activity_map)

In [97]:
insurance_map = {
    'No_insurance': 2,
    'Government': 1,
    'Private': 0
}

df['insurance_type'] = df['insurance_type'].map(insurance_map)

In [98]:
df = pd.get_dummies(df, columns=['city_type'], drop_first=True,dtype=int)

In [99]:
df.head()

,age,gender,bmi,smoker,diabetes,hypertension,heart_disease,asthma,physical_activity_level,daily_steps,...,stress_level,doctor_visits_per_year,hospital_admissions,medication_count,insurance_type,insurance_coverage_pct,previous_year_cost,annual_medical_cost,city_type_Semi-Urban,city_type_Urban
0,69,1,29.4,0,1,0,0,0,1,14825,...,8,1,0,4,0,80,10885,2645.50,1,0
1,32,0,22.9,0,1,0,0,0,1,3620,...,7,4,3,0,1,64,18722,10959.70,1,0
2,89,1,25.7,0,0,0,0,0,0,10578,...,7,2,0,3,2,0,4196,8409.80,0,1
3,78,1,31.9,1,0,1,0,0,2,6226,...,9,6,1,7,1,70,11128,7996.62,0,1
4,38,1,27.7,0,0,0,0,0,0,6253,...,3,6,0,6,0,77,15110,3202.52,0,1

In [100]:
df.corr()['annual_medical_cost'].sort_values(ascending=False)

annual_medical_cost        1.000000
insurance_type             0.777147
hospital_admissions        0.355629
medication_count           0.133298
heart_disease              0.121740
previous_year_cost         0.089275
smoker                     0.061673
diabetes                   0.051429
hypertension               0.046926
doctor_visits_per_year     0.033748
bmi                        0.031030
age                        0.025330
physical_activity_level    0.022504
stress_level               0.012596
asthma                     0.008869
daily_steps                0.001819
sleep_hours               -0.004788
city_type_Urban           -0.005532
city_type_Semi-Urban      -0.006919
gender                    -0.012557
insurance_coverage_pct    -0.856152
Name: annual_medical_cost, dtype: float64

In [101]:
# annual_medical_cost	1.000000
# hospital_admissions	0.355629
# medication_count	0.133298
# heart_disease	0.121740
# previous_year_cost	0.089275
# smoker	0.061673
# diabetes	0.051429
# hypertension	0.046926
# doctor_visits_per_year	0.033748
# bmi	0.031030
# age	0.025330
# stress_level	0.012596
# asthma	0.008869
# daily_steps	0.001819
# sleep_hours	-0.004788
# city_type_Urban	-0.005532
# city_type_Semi-Urban	-0.006919
# gender	-0.012557
# physical_activity_level	-0.022504
# insurance_type	-0.548206
# insurance_coverage_pct	-0.856152
# # after
# annual_medical_cost	1.000000
# insurance_type	0.777147
# hospital_admissions	0.355629
# medication_count	0.133298
# heart_disease	0.121740
# previous_year_cost	0.089275
# smoker	0.061673
# diabetes	0.051429
# hypertension	0.046926
# doctor_visits_per_year	0.033748
# bmi	0.031030
# age	0.025330
# stress_level	0.012596
# asthma	0.008869
# daily_steps	0.001819
# sleep_hours	-0.004788
# city_type_Urban	-0.005532
# city_type_Semi-Urban	-0.006919
# gender	-0.012557
# physical_activity_level	-0.022504
# insurance_coverage_pct	-0.856152

In [102]:
# Create out_of_pocket_frac column (fraction of cost the patient pays)
df['out_of_pocket_frac'] = 1 - (df['insurance_coverage_pct'] / 100)

# Quick check
df[['insurance_coverage_pct', 'out_of_pocket_frac']].head()

   insurance_coverage_pct  out_of_pocket_frac
0                      80                0.20
1                      64                0.36
2                       0                1.00
3                      70                0.30
4                      77                0.23

In [103]:
df = df.drop(columns=['insurance_coverage_pct'])

In [104]:
df.describe()

,age,gender,bmi,smoker,diabetes,hypertension,heart_disease,asthma,physical_activity_level,daily_steps,...,stress_level,doctor_visits_per_year,hospital_admissions,medication_count,insurance_type,previous_year_cost,annual_medical_cost,city_type_Semi-Urban,city_type_Urban,out_of_pocket_frac
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,53.299000,0.496200,25.970820,0.244200,0.207600,0.288000,0.14220,0.096400,1.195600,7993.216800,...,5.475400,4.030600,1.001000,3.509000,0.813800,10248.515400,8048.886894,0.300600,0.494800,0.420470
std,20.646851,0.500036,5.046651,0.429655,0.405629,0.452876,0.34929,0.295169,0.751434,4052.127069,...,2.892312,2.010689,0.978566,2.292721,0.755542,5626.095015,7071.020228,0.458565,0.500023,0.316277
min,18.000000,0.000000,6.400000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1004.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,500.000000,404.950000,0.000000,0.000000,0.060000
25%,36.000000,0.000000,22.600000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,4545.000000,...,3.000000,3.000000,0.000000,1.000000,0.000000,5342.750000,3241.977500,0.000000,0.000000,0.210000
50%,53.000000,0.000000,25.900000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,7989.000000,...,5.000000,4.000000,1.000000,3.000000,1.000000,10281.000000,5539.780000,0.000000,0.000000,0.290000
75%,71.000000,1.000000,29.400000,0.000000,0.000000,1.000000,0.00000,0.000000,2.000000,11532.250000,...,8.000000,5.000000,2.000000,6.000000,1.000000,15034.500000,10094.097500,1.000000,1.000000,0.470000
max,89.000000,1.000000,43.600000,1.000000,1.000000,1.000000,1.00000,1.000000,2.000000,14999.000000,...,10.000000,14.000000,6.000000,7.000000,2.000000,19996.000000,44792.100000,1.000000,1.000000,1.000000

In [105]:
df.head()

,age,gender,bmi,smoker,diabetes,hypertension,heart_disease,asthma,physical_activity_level,daily_steps,...,stress_level,doctor_visits_per_year,hospital_admissions,medication_count,insurance_type,previous_year_cost,annual_medical_cost,city_type_Semi-Urban,city_type_Urban,out_of_pocket_frac
0,69,1,29.4,0,1,0,0,0,1,14825,...,8,1,0,4,0,10885,2645.50,1,0,0.20
1,32,0,22.9,0,1,0,0,0,1,3620,...,7,4,3,0,1,18722,10959.70,1,0,0.36
2,89,1,25.7,0,0,0,0,0,0,10578,...,7,2,0,3,2,4196,8409.80,0,1,1.00
3,78,1,31.9,1,0,1,0,0,2,6226,...,9,6,1,7,1,11128,7996.62,0,1,0.30
4,38,1,27.7,0,0,0,0,0,0,6253,...,3,6,0,6,0,15110,3202.52,0,1,0.23

In [107]:
df.corr()['annual_medical_cost'].sort_values(ascending=False)

annual_medical_cost        1.000000
out_of_pocket_frac         0.856152
insurance_type             0.777147
hospital_admissions        0.355629
medication_count           0.133298
heart_disease              0.121740
previous_year_cost         0.089275
smoker                     0.061673
diabetes                   0.051429
hypertension               0.046926
doctor_visits_per_year     0.033748
bmi                        0.031030
age                        0.025330
physical_activity_level    0.022504
stress_level               0.012596
asthma                     0.008869
daily_steps                0.001819
sleep_hours               -0.004788
city_type_Urban           -0.005532
city_type_Semi-Urban      -0.006919
gender                    -0.012557
Name: annual_medical_cost, dtype: float64

In [108]:
x_df = df.drop(columns=['annual_medical_cost'])
y_df = df['annual_medical_cost']

In [109]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2, random_state=42)

In [110]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Features & target
X = df.drop('annual_medical_cost', axis=1)
y = df['annual_medical_cost']

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model
model = LGBMRegressor(
    n_estimators=500,
    learning_rate=0.05,
    max_depth=-1,
    random_state=42
)

model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Metrics
print("MSE:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000738 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 988
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 20
[LightGBM] [Info] Start training from score 8057.088835
MSE: 268649.1462670019
R2 Score: 0.9944922364583165

In [111]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Split data
X = df.drop('annual_medical_cost', axis=1)
y = df['annual_medical_cost']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = LGBMRegressor(n_estimators=500, learning_rate=0.05, random_state=42)
model.fit(X_train, y_train)

# Predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Metrics
mse_train = mean_squared_error(y_train, y_train_pred)
r2_train = r2_score(y_train, y_train_pred)

mse_test = mean_squared_error(y_test, y_test_pred)
r2_test = r2_score(y_test, y_test_pred)

print(f"Train MSE: {mse_train}, R: {r2_train}")
print(f"Test MSE: {mse_test}, R: {r2_test}")

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000444 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 988
[LightGBM] [Info] Number of data points in the train set: 4000, number of used features: 20
[LightGBM] [Info] Start training from score 8057.088835
Train MSE: 15157.827699099362, R: 0.9996986048621306
Test MSE: 268649.1462670019, R: 0.9944922364583165

In [112]:
import pickle
# Suppose 'model' is your trained LightGBM model
filename = 'lgbm_medical_cost_model.pkl'

# Write the model to a file
with open(filename, 'wb') as file:
    pickle.dump(model, file)

print(f"Model saved to {filename}")

Model saved to lgbm_medical_cost_model.pkl